.swiper-button-next,
.swiper-button-prev
{
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 48px;
    height: 44px;
    margin: auto 0;

    transition: background .2s linear;
    transform: none;

    color: var(--dark_color);
    border-radius: 50%;
    background: var(--light_color);
}


.swiper-button-prev
{
    left: 50%;

    margin-left: calc(var(--content_width) / -2 + var(--cont_padding));
}

.swiper-button-next
{
    right: 50%;

    margin-right: calc(var(--content_width) / -2 + var(--cont_padding));
}


.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 16px;
    height: 16px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    background: var(--grey_color2);
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: var(--inner_gap_b);
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 8px;

    pointer-events: none;

    gap: 8px;
}


.swiper-pagination-bullet
{
    position: relative;

    display: block;

    width: 8px;
    height: 8px;

    transition: width .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 4px;
    background: var(--light_color);
}


.swiper-pagination-bullet:after
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 0;
    height: 100%;

    content: '';

    border-radius: inherit;
    background: var(--dark_color);
}


.swiper-pagination-bullet.active
{
    width: 100px;
}


.swiper-pagination-bullet.active:after
{
    width: 100%;

    transition: width 5.5s linear;
}

.swiper-pagination-bullet.active.first_animate:after
{
    transition: width 5s linear;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
